<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.partymemberconstruction">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="正通智慧党建"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".WebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ForgetPswActivity" />
        <activity android:name=".ImprovePersonalInformationActivity" />
        <activity android:name=".ExamineActivity" />
        <activity android:name=".TestWebActivity" />
        <activity android:name=".TestWeb2Activity" />
        <!-- 定义FileProvider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/filepath"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <receiver android:name=".FirstActivity$ExitReceiver" />

        <activity android:name=".ContactsActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ChangePSWActivity"></activity>
    </application>

</manifest>